{% extends 'APPWEB/plantilla-base.html' %}
{% load static %}
{% block content %}

	  <section class="hero-wrap hero-wrap-2" style="background-image: url(({% static 'img/casa.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-4">
            <h1 class="mb-3 bread">Mis Historias</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          {% for post in singleBlog %}
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">{{post.titulo}}</h2>
              <img src="{% static post.imagen.url %}" alt="{{post.titulo}}" class="img-fluid">
            </p>
            <p>{{post.descripcion}}</p>

          </div> <!-- .col-md-8 -->
          {% endfor %}
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
              </form>
              <div class="d-flex align-items-center mt-4 meta">
                <p class="mb-0"><a href="{% url 'appweb:blogs' %}" class="btn btn-primary">Todas las publicaciones </a></p>
              </div>
            </div>
            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Publicaciones Recientes</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> April 04, 2019</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->

    {% endblock content %}